/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dce8f5; 
    text-align: center; 
}

/* Navbar Styling */
.navbar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #2B5669;
  }
    
    .logo {
      height: 60px;
      width: auto;
    }
    
    /* Default Links Styling */
    .navbar .nav-links {
      display: flex;
      justify-content: flex-end;
      flex: 2;
    }
    
    .navbar a {
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 400;
      margin: 0 20px;
      transition: 0.3s;
    }
    
    .navbar a:hover {
      color: #FFD700;
    }

.hamburger {
    display: none;
    cursor: pointer;
}

/* About Section */
.about-section {
    padding-top: 80px;
    padding: 50px;
    text-align: center;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Remove bullet points from lists */
.about-section ul {
    list-style-type: none;
    padding: 0;
}

/* Team Members Section */
.team-members {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.team-member h5 {
    font-size: 1.2rem;
    font-weight: bold;
}

.team-member p {
    font-style: italic;
    color: #6c757d;
}

/* Footer Styles */
footer {
    background-color: #2B5669;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
    color: white;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 1.5rem;
}

.social-icons a:hover {
    color: #ffcc00;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .team-members {
        grid-template-columns: 1fr; /* Single column on smaller screens */
    }
}
