/* Sidebar Styles */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #343a40;
  padding-top: 20px;
  z-index: 1000;
  transition: width 0.3s ease-in-out;
}

#sidebar h4 {
  text-align: center;
  color: #fff;
}

#sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

#sidebar .nav-link {
  color: #fafee6;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#sidebar .nav-link:hover {
  background-color: #495057;
}

/* Ensure the body and html take full height */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}


.flex-grow-1 {
  flex-grow: 1;
}

/* Dashboard Cards */
.dashboard-card {
  height: auto; /* Remove fixed height to allow content to adjust */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px; /* Ensure spacing between cards */
}

.dashboard-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.dashboard-card i {
  font-size: 2rem;
}

.dashboard-card h5 {
  font-weight: bold;
}

.dashboard-card p {
  color: #6c757d;
}


/* Navbar Styling */
.navbar {
  background-color: #2B5669;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar a.nav-link {
  color: #fafee6;
  padding: 10px 15px;
}

.navbar a.nav-link:hover {
  color: #ffcc00;
}

.navbar-brand {
  font-weight: bold;
  color: #fafee2;
}

/* Footer Styling */
.footer {
  background-color: #2B5669;
  padding: 20px 0;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

footer p {
  margin: 0;
  color: #fafee6;

}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin: 0 10px;
  font-size: 1.2rem;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  #sidebar {
    width: 60px;
    padding-top: 10px;
    transition: all 0.3s ease; 
  }

  #sidebar h4 {
    font-size: 1.2rem;
  }

  #sidebar ul {
    text-align: center;
  }

  #sidebar .nav-link {
    padding: 10px 5px;
  }

  .flex-grow-1 {
    margin-left: 60px;
    padding: 15px;
    transition: all 0.3s ease; 
  }
}
