body {
    background-color: #fafee2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 80px;
    color: #2B5669;
}

/* Navbar Styling */
.navbar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 70px
}

.logo {
  height: 60px;
  width: auto;
}

/* Default Links Styling */
.navbar .nav-links {
  display: flex;
  justify-content: flex-end;
  flex: 2;
}

.navbar a {
  color: #fafee2;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 20px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #FFD700;
}

/* Sign Up Container */
.signup-container {
    max-width: 500px;
    background-color: #fff;
    padding: 30px;
    margin: 60px auto;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Buttons */
.signup-form .btn-primary {
    background-color: #2B5669;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
}

.signup-form .btn-primary:hover {
    background-color: #1e3f4e;
}

/* Footer */
footer {
  background-color: #2B5669;
  padding: 30px 0;
  color: #FAFEE6;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-container .social-icons a {
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.footer-container .social-icons a:hover {
  color: #FFD700;
}

.social-icons a {
  margin: 10px;
  font-size: 1.2rem;
  color: white;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}
